<h1><%= @user.username %></h1>
<h3><%= @user.email %></h3>

<ul>
  <h1>Welcome, <%= @user.username %></h1>
 <br>
  <h2> Classes you are currently enrolled in <h2>
<% @user.courses.each do |course| %>
  <li><b> <%= course.title %></b> <br> <%= course.description %></li><br>
<% end %>
</ul>


<a href="/users/logout">Log Out</a>