
<ul>
  <h1>Welcome, <%= @user.name %></h1>
  <p>Email: <%= @user.email %></p>
  <p>Username: <%= @user.username %></p>
  <h2> Classes you are currently teaching;</h2>
<% @user.courses.each do |course| %>
  <li> <a href="/courses/<%= course.id %>"><b><%= course.title %></b></a> <br> <%= course.description %></li>
  <button onclick='window.location.href="/courses/<%= course.id %>/edit";'>Edit Course</button>
<button onclick='window.location.href="/courses/<%= course.id %>/delete";'>Delete Course</button><br><br>
<% end %>
</ul>



