<!doctype html>
<html>
  <head>
    <title>OnPoint Leadership Academy</title>
  </head>
  <body>

    <div class="container">
      <h1>Welcome to the OnPoint Leadership Academy Learning Portal!</h1>
    	<button <%='hidden' if session["user_id"] == nil %> onclick='window.location.href="/users/show";'>My Courses</button>
    	<button <%='hidden' if session["user_id"] == nil %> onclick='window.location.href="/courses";'>All Courses</button>
    	<button <%='hidden' if session["user_id"] == nil %> onclick='window.location.href="/courses/new";'>New Course</button>
    	<button <%='hidden' if session["user_id"] == nil %> onclick='window.location.href="/logout";'>Logout</button>
    	<hr>
      <%= yield %>
    </div>
  </body>
</html>